.header {
    background: #303A52;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.header__content {
    align-items: center;
    display: flex;
    padding: $s-size 0;
}

.header__title {
    color: #FFF;
    text-decoration: none;
    h1 {
        margin: 0;
        margin-left: 50px;
    }
}

#header__icon {
    position: relative;
    top: 2.6px;
    right: 18px;
    font-size: 21.5px;
}

.nav {
    position: relative;
    margin-left: 50px;
    top: 2px;

}

.nav__text {
    right: 10px;
}

.nav__profile {
    position: relative;
    top: 2.6px;
}

.nav__icon {
    margin: 0;
    padding: 0;
    padding: 5px;
    padding-right: 0;
}

.header__search {
    position: relative;
    right: 5px;
    top: 1.5px;

}

.search {
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: none;
}

.header__logout {
    position: relative;
    top: 2.3px;
}