.like-profile-container {
    left: 4px;
    position: relative;
}

.like-label-wrapper {
    position: absolute;
}

.like-label-icon {
    bottom: 24.5px;
    left: 60px;
    position: relative;
    font-size: 110%;
    color: #3d4967;
}

.profile-status-like-image {
    width: 16px;
    height: 16px;
    position: relative;
    bottom: 1px;
}

.dashboard-status-like-image {
    position: relative;
    top: 1px;
}