#profile-page-div {
    height: 100%;
}

.cover-photo {
    width: 100%;
    height: 250px;
    background-color: rgb(240, 240, 240);
    z-index: -1;
}

.upload-cover-photo-icon {
    right: 20px;
    margin-top: -38px;
    position: relative;
    color: #FFF;
}

.under-cover-photo-bar {
    position: relative;
    background-color: #303A52;
    height: 22px;
    width: 100%;
    bottom: 8px;
}

.profile-picture {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 10px solid rgb(242, 242, 242);
    border-left: 10px solid rgb(242, 242, 242);
    border-right: 10px solid rgb(242, 242, 242);
    bottom: 200px;
    width: 250px;
    height: 250px;
    position: relative;
    left: 150.5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.034);
}

.profile-dashboard {
    position: relative;
    bottom: 30px;
    left: 430px;
    width: 200px;
}

.profile-dashboard__item {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: $white-shade;
    display: inline-block;
    margin-right: 20px;
    width: 80px;
    padding: 10px;
    background: #303A52;
    text-align: center;
    cursor: pointer;
}

.profile-dashboard__item-active {
    background: #232b3d;
}

.profile-picture-opacity {
    filter: brightness(60%);
}






.profile-picture__flex {
    display: flex;
    width: 250px;
    height: 250px;
}

.profile-picture-upload {
    bottom: 100px;
    left: 1px;
    position: relative;
    font-size: 300%;
    color: $white-shade;
}

.user-name {
    position: relative;
    margin-top: 0;
}

.profile-info-container {
    position: relative;
}

.profile-info-wrapper {
    position: relative;
}

.profile-cover-photo__container {
    filter: brightness(60%);
}

.profile-cover-photo-button {
    position: relative;
    right: 30px;
    float: right;
    bottom: 60px;
}

#cover-photo-button {
    color: rgb(236, 236, 236);
}


.profile-edit-bio-wrapper {
    position: relative;
}

.profile-edit-bio-container {
    position: absolute;
}

.profile-save-bio-wrapper {
    position: relative;
}

.user-bio {

 }

 .profile-info-bio {
     font-weight: 400;
     margin: auto 12px;
     margin-bottom: 20px;
     width: 200px;
     position: relative;
     right: 0px;
     z-index: 10;
 }

 .profile-info-bio-save {
    margin: auto 12px;
    margin-bottom: 20px;
    width: 200px;
    position: relative;
    right: 12px;
    z-index: 10;
}

 .profile-info-bio-input {
     height: 30px;
     width: 200px;
     border-radius: 3px;
     border: 1px solid $blue;
 }

 


 //-----------------------------------

.follow-text {
    color: $blue;
}


.left-panel-wrapper {
    position: absolute;
    left: -50px;
    width: 200px;
    margin: 0 auto;
}


.left-panel-profile {
    bottom: 170px;
    left: 218px;
    position: relative;

}

.status-list-container {
    position: relative;
}

.status-list-wrapper {
    position: absolute;
    right: 10vw;
}

.profile-status-list-wrapper {
    text-align: center;
}

// //-------------------------------------

//-------------------------------

.under-profile-photo {
    position: absolute;
    height: 72vh;
    min-height: 87%;
    top: 250px;
    width: 403.5px;
    background-color: rgb(242, 242, 242);
    z-index: -1;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.034);
    overflow: hidden;
}


.profile-cover-photo-upload-image {
    bottom: 1.5px;
    width: 16px;
    height: 16px;
    position: relative;
    right: 10px;
}
//-----------------------------

.left-panel-padding {
    text-align: center;
    padding: 20px 0;
    padding: 0 0 20px 0;
    min-height: 100%;
}

.profile-follow {
    text-decoration: none;
    color: rgb(88, 88, 88);
}


// HEIGHT

.right-profile-panel {
    position: absolute;
    right: .1px;
    top: 271.5px;
    height: 71vh;
    min-height: 86%;
    width: 14vw;
    background-color: rgb(242, 242, 242);
    overflow: hidden;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.034);
}


//-------------------------------

// RIGHT BORDER PANEL COLOR

// .right-profile-panel__color {
//     position: absolute;
//     right: .1px;
//     top: 271px;
//     min-height: 100%;
//     width: 25px;
//     background-color:  #303A52;
//     overflow: hidden;
//     z-index: 2;
// }

// RIGHT BORDER PANEL COLOR

// // .profile-cover-photo {
// //     display: inline-block;
// //     margin: 0 auto;
// //     width: 100%;
// //     height: 250px;
// // };

// // .profile-info-picture {
// //     width: 150px;
// //     height: 150px;
// //     position: relative;
    
// // }

// // .profile-container {
// //     width: 100rem;
// //     text-align: center;
// // }



// .profile-followers {
//     display: inline-block;
// }

// .profile-info-analytics {
//     display: inline-block;
//     margin-right: 10px;
//     margin-left: 10px;
// }



// .profile-cover-photo {
//     width: 100%;
//     height: 240px;
// };

// // .profile-cover-photo:hover {
// //     background-color: rgb(0, 0, 0);
// //     cursor: pointer;
// //     opacity: 0.5;

// // }

// .profile-picture-upload {
//     bottom: 510px;
//     position: absolute;
//     right: 645px;
//     font-size: 200%;
//     color: rgb(44, 44, 44);
//     opacity: 1;
// };

// .profile-picture-opacity {
//     opacity: 0.5;
// }


// .profile-cover-photo-button {
//     position: absolute;
//     left: 60%;
//     top: 225px;
// };

// .profile-cover-photo__container:hover {
//     background-color: rgb(255, 255, 255);
//     opacity: 0.5;
// };

// #cover-photo-button {
//     cursor: default;
// }

// .profile-info-wrapper {
//     position: relative;
//     text-align: center;
// };

// .profile-info-container {
//     display: inline-block;
// };


// .profile-info-picture {
//     border: 4px solid white;
//     border-radius: 50%;
//     bottom: 100px;
//     height: 150px;
//     width: 150px;
//     position: relative;
//     right: 0px;
// };

// .profile-info-name {
//     font-family: 'Roboto', sans-serif;
//     bottom: 130px;
//     font-size: 200%;
//     font-weight: 300;
//     letter-spacing: 3px;
//     position: relative;
// };

// .profile-info-analytics {
//     bottom: 150px;
//     font-family: 'Roboto', sans-serif;
//     font-size: 90%;
//     color: rgb(90, 89, 89);
//     position: relative;
//     right: 16px;
// };

// .
