// .status-container {
//     position: relative;
//     left: 440px;
//     width: 684px;
// };

// .post-status-title {}



.profile-upload-image-name {
    position: absolute;
    top: 20px;
    left: 180px;
}

.status-title-wrapper {
    position: relative;
    bottom: 0px;
    right: 250px;
}

.profile-upload-photo-icon {
    position: relative;
    right: 150px;
    font-size: 110%;
    top: 3px;
    color: #303A52;
    cursor: pointer;
}

.fishing-for-divs {
    position: relative;
    top: 50px;
    left: 500px;
    margin-bottom: -300px;
}

.status-list-wrapper {
    position: relative;
    left: 450px;
}

.status-text-input-profile {
    border-radius: 10px;
    border: none;
    border: 2px solid rgb(242, 242, 242);
    width: 540px;
    height: 55px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 60px;
}

.under-status-post-bar {
    position: relative;
    right: 50px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
    height: 5px;
    background: rgb(237, 237, 237);
    overflow-x: hidden;
    z-index: -2;

}

.post-button {
    height: 46px;
    margin-right: 15px;
    margin-left: 9px;
    width: 85px;
}


.under-status-bar-wrapper {
    position: relative;
}

// ----- STATUS LIST ----- //

// .status-list-container {
//     position: relative;
//     width: 684px;
//     left: 200px;
// };

.profile-modal-photo {
    width: 17%;
    height: 17%;
}


.fishing-for-user-divs {
    margin-bottom: -350px;
}


// // ----- PHOTO LIST ---- //
