.status-container {
    position: relative;
    left: 120px;
}

.status-list-container {
    position: relative;
    z-index: 990;
}

.post-status-error-wrapper {
    position: relative;
    left: 100px;
    bottom: 15px;
}

.post-status-error {
    position: absolute;
    font-style: italic;
    margin: 0 auto;
    width: 100%;
}

.profile-post-status-error-wrapper {
    left: 20px;
    position: relative;
    font-style: italic;
    bottom: 25px;
}

.profile-status-image-upload {
    width: 16px;
    height: 16px;
}


.status-container__flex {
    display: flex;
    width: 400px;
    position: relative;
}

.text-status-container {
    width: 677px;
    background: rgb(242, 242, 242);
    border-radius: 7px;
    border-bottom: 1px solid rgb(222, 222, 222);
    height: 180px;
    left: 2px;
    margin-bottom: 75px;
    position: relative;

}

.profile-page-status-list-container {
    margin-bottom: -50px;
}

.text-status-author-image {
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 16px;
}

.text-status-author-name {
    bottom: 80px;
    left: 88px;
    position: relative;

}

.text-status-author__flex {
    display: flex;
}

.text-status-remove {
    bottom: 99px;
    color: #3d4967;;
    font-size: 130%;
    left: 630px;
    position: absolute;
}

.text-status-remove__wrapper {
    position: relative;
}


.status-text-date {
    bottom: 118px;
    left: 86px;
    position: relative;
    width: 150px;
}

.status-text-description {
    bottom: 114px;
    position: relative;
    left: 16px;
    font-weight: 300;
    font-size: 150%;
    width: 645px;
}




.status-text-like-comment {
    position: relative;
    bottom: 115px;
    left: 15px;
    display: inline;
    justify-content: stretch;
    position: relative;
}

.status-like-container {
    position: relative;
    top: 8px;
}


// ------ PHOTO STATUS --------- //


.status-image-date {
    bottom: 70px;
    left: 86px;
    position: relative;
}

.status-image-description {
    bottom: 80px;
    font-weight: 300;
    font-size: 150%;
    left: 16px;
    position: relative;
}

.status-image {
    width: 677px;
    background: rgb(242, 242, 242);
    border-radius: 7px;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.status-image-container {
    margin-bottom: 49px;
}

.status-image-photo-wrapper {
    position: relative;
    height: 80%;
}

.status-image-photo {
    border-radius: 3px;
    margin-bottom: -35px;
    bottom: 80px;
    height: 50%;
    width: 50%;
    position: relative;
    left: 16px;
}

.status-image-wrapper {
    height: 580;
}

.status-image-comment-like-container {
    bottom: 42px;
    left: 13px;
    position: relative;

}

.status-image-like-container {
    left: 2px;
    position: relative;
    top: 8px;
}

.text-image-remove__wrapper {
    position: relative;
}

.text-image-remove {
    color: #3d4967;
    font-size: 130%;
    left: 630px;
    position: absolute;
    top: 22px;
}

.status-image-name {
    display: inline-block;
    bottom: 33px;
    left: 10px;
    position: relative;
}