.set-calorie-button {
    background: rgb(242, 242, 242);
    border: 1px solid rgb(230, 230, 230);
    border-bottom: none;
    border-radius: 10px;
    left: 165px;
    width: 190px;
    height: 60px;
    margin-bottom: -6px;
    margin-right: 300px;
    margin-top: 16px;
    padding: 15px 35px;
    position: relative;
}

.calorie-forms-margin {
    margin-bottom: 220px;
}


.add-calorie-form-wrapper {
    background: rgb(242, 242, 242);
    border: 1px solid rgb(230, 230, 230);
    border-top: none;
    border-radius: 10px;
    margin: 0 auto;
    width: 270px;
    padding: 10px 0;
}


.add-calorie-input {
    border: none;
    border: .5px solid rgb(230, 230, 230);
    border-radius: 5px;
    width: 250px;
    height: 25px;
    margin-bottom: 6px;
}

.calorie-forms {
    position: absolute;
    left: 200px;
}

.calorie-forms__add {
    right: 600px;
    position: absolute;
}

.calorie-forms__goal {
    
}

.calorie-wrapper {
    display: inline;
}

.submit-calorie-button {
    background: #303A52;
    border: none;
    border-radius: 5px;
    color: $white-shade;
    width: 250px;
    height: 30px;
}

.add-calorie-form-wrapper__goal {
    margin: 0 auto;
}

//#303A52;


// ------------------------- //

.set-calorie-goal-wrapper {
    width: 400px;
}

.calorie-input-wrapper {
    position: relative;
    width: 400px;
    margin: 0 auto;
    display: inline-block;
    right: 45px;
}

.calorie-input-container {
    position: absolute;
}

.log-calorie-wrapper {
    position: relative;
    left: 110px;
}

.log-calorie-container {
    background: rgb(242, 242, 242);
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    border-top: none;
    width: 280px;
    padding: 10px 0;
    padding-bottom: 25px;
}