.calorie-page-wrapper{
    width: 100%;
    text-align: center;
}

.calorie-page-container {
    display: inline-block;
}

.calorie-summary-title {
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: -10px;
};

.calorie-progress-bar {
    border-radius: 12px;
    width: 600px;
    margin: 0 auto;
    background: rgb(235, 235, 235);
    height: 23px;
}

.calorie-progress {
    width: 43%;
    height: 23px;
    background: #2ecc71;
    border-radius: 12px;
    border: none;
}

.calorie-macros-names-container {
    display: flex;
    justify-content: space-between;
    font-size: 105%;
    margin: 0 auto;
    margin-bottom: -30px;
    margin-top: 30px;
    width: 80%;
}

.calorie-macros-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.calorie-macro-carbs {
    margin-right: 4px;
}

.calorie-macro-fats {
    margin-right: 7px;
}

.under-calorie-goal-bar {
    background: rgb(242, 242, 242);
    width: 100vw;
    height: 6px;
    margin: 19px;
}