.comment-wrapper {
    position: relative;
    margin-bottom: 50px;
}

.dashboard-comment-list-wrapper {
    position: relative;
    right: 55px;
    margin-top: 35px;
}

.dashboard-comment-list-wrapper {
    position: relative;
    margin-bottom: -50px;
    top: 30px;
}

.dashboard-comment-container {
    background: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(233, 233, 233);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
}

.dashboard-comment-author-container {
    position: relative;
    right: 45%;
}

.dashboard-comment-author-picture {
    border-radius: 2px;
    margin-top: 8px;
}

.dashboard-comment-author-name {
    margin-top: -38px;
    position: relative;
    text-align: left;
    left: 391.5px;
    width: 400px;
}

.dashboard-comment-description {
    font-weight: 400;
    left: 21.5px;
    right: 0px;
    margin-bottom: 2px;
    margin-top: -12px;
    text-align: left;
    padding-bottom: 14px;
    position: relative;
    width: 90%;
}

.dashboard-comment-form-container {
    left: 130px;
    margin-top: -0px;
    position: relative;
    top: 33px;
}

.dashboard-comment-likes-container {
    bottom: 13px;
    margin-top: -16px;
    position: relative;
    right: 1px;
    color: $blue;
}

.dashboard-comment-remove-wrapper {
    top: 10px;
    position: relative;
} 

.dashboard-comment-remove-container {
    left: 93.2%;
    position: absolute;
    color: $blue;
}

.dashboard-comment-description-wrapper {
    position: relative;
    text-align: left;
}