.profile-comment-form {
    position: relative;
}

.profile-status-comment-wrapper {
    right: 69px;
    position: relative;
    top: 49px;
}

.profile-status-comment-container {
    background: rgb(234, 234, 234);
    border-bottom: 1px solid rgb(233, 233, 233);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 660px;
    margin-bottom: -4px;
    position: relative;
    top: -5px;
}

.profile-status-comment-container {
}

.status-profile-comment {
    text-align: left;
    margin: 0 0 0 12px;
    right: 270px;
    display: inline-block;
    position: relative;
}

.status-profile-comment-name {
    display: inline-block;
    position: relative;
    left: 10px;
    margin-top: -60px;
    top: -15px;
}

.profile-comment-remove-wrapper {
    position: relative;
}

.profile-comment-remove-button {
    position: absolute;
    left: 600px;
    top: 12px;
    color: $blue;
}

.status-comment-author-picture {
    border-radius: 3px;
    margin-top: 12px;
}

.profile-status-comment-description {
    font-weight: 400;
    text-align: left;
    margin-left: 21px;
    margin-bottom: -1px;
    margin-top: -23px;
    width: 96%;
}

.profile-comment-like-wrapper {
    position: relative;
    right: 292px;
    margin-top: 2px;
}

.profile-comment-form {
    margin-top: 20px;
}