* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-height: 100%;
    position: relative;
}

body {
    color: $dark-grey;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    background-color: rgb(248, 248, 248);
    min-height: 100%;
    overflow-x: hidden;

}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active{
    font-weight: bold;
}