* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    position: relative;
}

#app {
    min-height: 800px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

#app-router-div {
    height: 100%;
}

#private-route-div {
    height: 100%;
}

body {
    color: $dark-grey;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    background-color: rgb(242, 242, 242);
    height: 100%;
    overflow-x: hidden;

}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active{
    font-weight: bold;
}